/**
	Holds general styling
**/

html, body {
	width: 100%;
	height: 100%;
}

html, body,
#covid19 h1, #covid19 h2, #covid19 h3, #covid19 h4, #covid19 h5, #covid19 h6,
#covid19 p, #covid19 button, #covid19 a,
#covid19 ul, #covid19 li,
#covid19 form {
	padding: 0;
	margin: 0;
}

#covid19 a, #covid19 button, #covid19 input, #covid19 select, #covid19 textarea {
	transition: all 0.2s ease-in-out;
}

#covid19 ul {
	list-style-type: none;
}

#covid19 input,
#covid19 button {
	border: none;
}

body {
	background: rgb(245, 245, 245);
	font-family: sans-serif;
}

#covid19 p, #covid19 h1, #covid19 h2, #covid19 h3, #covid19 h4, #covid19 h6, #covid19 li, #covid19 label {
	pointer-events: none;
	color: rgb(80, 80, 80);
}

#covid19 label {
	pointer-events: auto;
}

#covid19 a {
	pointer-events: auto;
	text-decoration: none;
	color: rgb(170, 170, 170);
}

#covid19 a:hover {
	color: black;
	text-decoration: none;
}

#covid19 h1, #covid19 h2, #covid19 h3, #covid19 h4, #covid19 h5, #covid19 h6, #covid19 th {
	color: rgb(80, 80, 80);
	color: rgb(59, 67, 81);
	text-align: center;
}

#covid19 p {
	color: rgb(120, 120, 120);
	text-align: justify;
}

#covid19 td {
	color: rgb(120, 120, 120);
	text-align: left;
}

#covid19 button,
#covid19 input[type='submit'] {
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background: rgb(100, 100, 100);
	color: white;
	box-shadow: none;
	pointer-events: auto;
}

#covid19 button:hover,
#covid19 input[type='submit']:hover {
	background: black;
	box-shadow: 0px 0px 10px grey;
	text-shadow: 0px 1px 2px black;
}

#covid19 input,
#covid19 textarea,
#covid19 select {
	display: block;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background: rgb(240, 240, 240);
	color: black;
	box-shadow: 0px 0px 2px black;
	border: none;
}

#covid19 input[type='color'],
#covid19 input[type='date'],
#covid19 input[type='radio'] {
	display: inline-block;
}

#covid19 input:hover,
#covid19 textarea:hover,
#covid19 select:hover {
	box-shadow: 0px 0px 10px grey;
}

#covid19 input[type='range']:hover {
	box-shadow: 0px 0px 2px black;
}

#covid19 input[type='range']:focus {
	box-shadow: 0px 0px 2px black;
}

#covid19 input:focus,
#covid19 textarea:focus,
#covid19 select:focus {
	box-shadow: 0px 0px 4px black;
}

#covid19 textarea {
	resize: none;
	font-family: sans-serif;
}

#covid19 h1 {
	font-size: 40pt;
}

#covid19 h2 {
	font-size: 34pt;
}

#covid19 h3 {
	font-size: 28pt;
}

#covid19 h4 {
	font-size: 24pt;
}

#covid19 h5 {
	font-size: 22pt;
}

#covid19 h6 {
	font-size: 20pt;
}

#covid19 p, #covid19 button, #covid19 a, #covid19 li, #covid19 select, #covid19 input, #covid19 textarea, #covid19 label, #covid19 th, #covid19 td {
	font-size: 17pt;
}

@media only screen and (max-width: 1800px) {
#covid19 h1 {
	font-size: 36pt;
}

#covid19 h2 {
	font-size: 30pt;
}

#covid19 h3 {
	font-size: 24pt;
}

#covid19 h4 {
	font-size: 20pt;
}

#covid19 h5 {
	font-size: 18pt;
}

#covid19 h6 {
	font-size: 14pt;
}

#covid19 p, #covid19 button, #covid19 a, #covid19 li, #covid19 select, #covid19 input, #covid19 textarea, #covid19 label, #covid19 th, #covid19 td {
	font-size: 15pt;
}
}

@media only screen and (max-width: 1400px) {
#covid19 h1 {
	font-size: 34pt;
}

#covid19 h2 {
	font-size: 28pt;
}

#covid19 h3 {
	font-size: 22pt;
}

#covid19 h4 {
	font-size: 18pt;
}

#covid19 h5 {
	font-size: 16pt;
}

#covid19 h6 {
	font-size: 12pt;
}

#covid19 p, #covid19 button, #covid19 a, #covid19 li, #covid19 select, #covid19 input, #covid19 textarea, #covid19 label, #covid19 th, #covid19 td {
	font-size: 14pt;
}
}

@media only screen and (max-width: 1000px) {
#covid19 h1 {
	font-size: 30pt;
}

#covid19 h2 {
	font-size: 24pt;
}

#covid19 h3 {
	font-size: 20pt;
}

#covid19 h4 {
	font-size: 16pt;
}

#covid19 h5 {
	font-size: 14pt;
}

#covid19 h6 {
	font-size: 11pt;
}

#covid19 p, #covid19 button, #covid19 a, #covid19 li, #covid19 select, #covid19 input, #covid19 textarea, #covid19 label, #covid19 th, #covid19 td {
	font-size: 13pt;
}
}

@media only screen and (max-width: 800px) {
#covid19 h1 {
	font-size: 28pt;
}

#covid19 h2 {
	font-size: 22pt;
}

#covid19 h3 {
	font-size: 19pt;
}

#covid19 h4 {
	font-size: 15pt;
}

#covid19 h5 {
	font-size: 13pt;
}

#covid19 h6 {
	font-size: 11pt;
}

#covid19 p, #covid19 button, #covid19 a, #covid19 li, #covid19 select, #covid19 input, #covid19 textarea, #covid19 label, #covid19 th, #covid19 td {
	font-size: 12pt;
}
}

@media only screen and (max-width: 600px) {
#covid19 h1 {
	font-size: 22pt;
}

#covid19 h2 {
	font-size: 19pt;
}

#covid19 h3 {
	font-size: 16pt;
}

#covid19 h4 {
	font-size: 14pt;
}

#covid19 h5 {
	font-size: 13pt;
}

#covid19 h6 {
	font-size: 11pt;
}

#covid19 p, #covid19 button, #covid19 a, #covid19 li, #covid19 select, #covid19 input, #covid19 textarea, #covid19 label, #covid19 th, #covid19 td {
	font-size: 11pt;
}
}

#covid19 .textblock {
	display: block;
	padding: 400px;
	padding-top: 40px;
	padding-bottom: 40px;
}

#covid19 .textblock .title {
	padding: 0;
	margin: 0;
	text-align: center;
	padding-bottom: 15px;
}

#covid19 .textblock p {
	padding: 0;
	margin: 0;
	text-align: justify;
}

#covid19 .textblock .signature {
	text-align: center;
	font-style: italic;
	padding-top: 15px;
	color: rgb(90, 90, 90);
}

/**
	Adaptive view
**/

@media only screen and (max-width: 1500px) {
#covid19 .textblock {
	padding-left: 260px;
	padding-right: 260px;
}
}

@media only screen and (max-width: 1280px) {
#covid19 .textblock {
	padding-left: 150px;
	padding-right: 150px;
}

}

@media only screen and (max-width: 1024px) {
#covid19 .textblock {
	padding-left: 100px;
	padding-right: 100px;
}
}

@media only screen and (max-width: 800px) {
#covid19 .textblock {
	padding-left: 50px;
	padding-right: 50px;
}
}

@media only screen and (max-width: 600px) {
#covid19 .textblock {
	padding-left: 20px;
	padding-right: 20px;
}
}

#covid19 .quad {
    display: block;
    height: 600px;
    overflow: hidden;
}

#covid19 .quad .element {
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: 0;
    vertical-align: top;
    overflow: hidden;
    margin-bottom: 10px;
}

#covid19 .quad .left {
    float: left;
}

#covid19 .quad .right {
    float: right;
}

#covid19 .quad .little {
    height: 240px;
}

#covid19 .quad .big {
    height: 310px;
}

#covid19 .quad .content {
    display: block;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

#covid19 .quad .left .content {
    margin-right: 5px;
}

#covid19 .quad .right .content {
    margin-left: 5px;
}

@media only screen and (max-width: 600px) {
#covid19 .quad {
    display: block;
    height: auto;
    overflow: none;
}

#covid19 .quad .element {
    display: block;
    width: auto;
}

#covid19 .quad .left,
#covid19 .quad .right {
    float: none;
}

#covid19 .quad .little,
#covid19 .quad .big {
    height: 350px;
}

#covid19 .quad .left .content,
#covid19 .quad .right .content {
    margin: 0;
}
}

#covid19 .alternate {
    display: block;
}

#covid19 .alternate .row {
    display: block;
    height: 280px;
    overflow: hidden;
}

#covid19 .alternate .row .element {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

#covid19 .alternate .row .little {
    width: 45%;
}

#covid19 .alternate .row .big {
    width: 55%;
}

#covid19 .alternate .row .left {
    float: left;
}

#covid19 .alternate .row .right {
    float: right;
}

@media only screen and (max-width: 800px) {
#covid19 .alternate .row {
    height: 560px;
}

#covid19 .alternate .row .element {
	display: block;
	width: 100%;
	height: 280px;
	overflow: hidden;
}

#covid19 .alternate .row .right {
	float: none;
}
}

#covid19 {
	display: block;
	width: 100%;
	height: 100%;
}
