#covid19 .chart {
	display: none;
	width: 100%;
	height: 300px;
	box-shadow: 0px 0px 10px grey;
	transition: all 0.2s ease-in-out;
}

#covid19 .chart canvas {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: white;
}

#covid19 .textblock {
	padding-top: 20px;
}

#covid19 .country {
	padding: 20px;
	padding-top: 0;
	text-align: center;
}

#covid19 .country .name {
	display: inline-block;
	vertical-align: top;
	padding-right: 20px;
	padding-top: 9px;
	font-weight: bold;
}

#covid19 .country .selection {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	background: white;
	pointer-events: none;
}

#covid19 .country .loading {
	display: inline-block;
	vertical-align: top;
	padding-left: 20px;
	padding-top: 11px;
	transition: all 0.2s ease-in-out;
}

#covid19 .country_data {
	border-collapse: collapse;
}

th {
	pointer-events: auto;
}

th, td {
	border: 1px solid rgb(150, 150, 150);
}

#covid19 .country_data {
	width: 100%;
	margin: auto;
	pointer-events: none;
}

#covid19 th {
	background: rgb(220, 220, 220);
}

#covid19 th,
#covid19 td {
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 10pt;
	text-align: center;
}

#covid19 .country_data .empty {
	border: none;
	background: transparent;
}

#covid19 .country_data_update_date p {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 12pt;
}

#covid19 .country_data_update_date .bold {
	font-weight: bold;
}

#covid19 .country_data_update_date .rate,
#covid19 .country_data_update_date .date {
	display: inline-block;
	vertical-align: top;
}

#covid19 .country_data_update_date .death,
#covid19 .country_data_update_date .recovery {
	margin-right: 10px;
}

#covid19 .country_data_update_date .rate .death {
	color: red;
}

#covid19 .country_data_update_date .rate .recovery {
	color: rgb(0, 180, 0);
}

#covid19 .country_data_update_date .date {
	float: right;
	font-style: italic;
}

#covid19 .copyright p {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

/**
	Adaptive view
**/

@media only screen and (max-width: 800px) {
#covid19 .country .name {
	padding-right: 10px;
	padding-top: 3px;
}

#covid19 .country .selection {
	padding: 5px;
	font-size: 10pt;
}

#covid19 .country .loading {
	padding-left: 10px;
	padding-top: 3px;
	width: 30px;
}

#covid19 th,
#covid19 td {
	padding: 5px;
	font-size: 10pt;
	text-align: center;
}

#covid19 .country_data_update_date p {
	padding-bottom: 0;
	font-size: 10pt;
}

#covid19 .country_data_update_date .rate,
#covid19 .country_data_update_date .date {
	display: block;
	text-align: center;
}

#covid19 .country_data_update_date .death,
#covid19 .country_data_update_date .recovery {
	margin-right: 10px;
}

#covid19 .country_data_update_date .date {
	float: none;
	padding-top: 10px;
	padding-bottom: 20px;
}

#covid19 .country_data_update_date .date .bold {
	font-style: normal;
}
}

@media only screen and (max-width: 500px) {
#covid19 .country {
	padding: 0;
}

#covid19 .country .name {
	display: block;
	padding-right: 0;
	padding-top: 0;
	text-align: center;
	padding-bottom: 10px;
}

#covid19 .country .selection {
	display: block;
	margin: auto;
}

#covid19 .country .loading {
	display: block;
	width: 100%;
	text-align: center;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

#covid19 .country .loading img {
	display: block;
	margin: auto;
}

#covid19 .country_data .label {
	display: none;
}

#covid19 th .span {
	font-size: 13pt;
}
}
